<form>
    <div id="form_$$TID" class="$$css">

    </div>
</form>
/// background script
<script>

    for (var i in $$items) {
        var itm = $$items[i];

        var div = document.createElement('div');

        var data = itm;
        data.type = itm.type;
        data.name = i;
        data.title = itm.title;

        div.className = 'w-full';

        data.page = 'jsonItem';
        data.path = '/src/coms/';
        data.item = def(data.item,1);

        first('#form_$$TID').appendChild(div);

        dyHtml.replace(div, data);
    }

</script>